
:root
{
    --black--color: #666;
    --white--color:#dadada;
    --light-blute: lightblue;
    --main-color: #ea9d96;
    --green-color: lightgreen;
}
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html ,body
{
    height: 100%;
    width: 100%;
    
}
#container
{
    min-height: 120vh;
    width: 100%;
    background-color:#ea9d96;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container .main
{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    /* background-color: #fffffd38; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#container .main .button
{
    height: 25%;
    width:30%;
    margin-top: 10vw; 
    border-left: 2px solid beige;
    border-top: 2px solid beige;
    border-top-left-radius: 12px;
    border-bottom-left-radius:12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    z-index: 999999;
    margin-left: 30px;

}
#container .main .button .cirbtn
{
    height: 48%;
    width: 34%;
    display: inline-block;
}
#container .main .button #pink
{
    border-top-left-radius: 12px;
}
#container .main .button .cirbtn .cir
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  all linear 0.2s;
}
#container .main .button .cirbtn:hover .cir
{
    background-color:#cfcaca3b;
    box-shadow: 0 1px 4px grey;
    border-radius: 12px;
    cursor:pointer ;
}

#container .main .button .cirbtn .cir .box
{
    height: 30%;
    width: 20%;
    border-radius: 50%;
}
#container .main .button #pink .cir .box
{
background: linear-gradient( pink , white );
}
#container .main .button #white .cir .box
{
    background: linear-gradient(white,grey);
}
#container .main .button #black .cir .box
{
    background:linear-gradient(black ,blue) ;
}
#container .main .button #green .cir .box
{
    background:linear-gradient(white,green);
}
#container .main .button #blue .cir .box
{
    background:linear-gradient(blue,ghostwhite);
}
#container .main .button #black
{
    width: 30%;
    height: 49%;
    border-right: 1px solid beige;
    border-bottom: 2px solid beige;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#container .main .button #blue
{
    border-bottom-left-radius:12px;
    /* border-left: 2px solid beige; */
    border-bottom: 2px solid beige;
    position: relative;
    top: 7px;
    left: 3px;
    width: 36%;

}
#container .main .button #green
{    
    border-bottom-right-radius: 12px;
    border-bottom: 2px solid beige;
    position: relative;
    top: 7px;
    left: -5px;
}
#container .main .button #price
{
    position: absolute;
    right: 5px;
    top: 47%;
    height: 50%;
    width: 30%;
    /* background:red; */
    z-index: 9999999;
    border-left: 2px solid beige;
    border-top-left-radius: 12px;
    
}
#container .main .button #price .cir
{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
#container .main .button #price .cir h5
{
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    padding-top: 20px;
    padding-left: 15px;
}
#container .main .button #price .cir h1
{
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    padding-left: 20px;
}
#container .main .button #price .cir button
{
    font-size: 10px;
    font-family: sans-serif;
    text-transform: capitalize;
    background-color: #eeeaea;
    text-align: center;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    color: #ea9d96;
    margin-left: 30px;
}
#container .main .midimg
{
    height: 90%;
    width: 40%;
    position: relative;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */

}
#container .main .midimg img
{
    height: 85%;
    width: 60%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    top: 0%;
    left: 5%;
    filter: brightness(2);
    z-index: 9999999;

}
#container .main .rightimg
{
    width: 20%;
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
}
#container .main .rightimg img
{
    height: 100%;
    width: 110%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    rotate: 30deg;
    top: -25%;
    left: -70%;
    z-index: 999999;
    filter:contrast(-1);

}

#container .img
{
    height: 100%;
    width: 40%;
    display: flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 9999;
}
#container .img .shawo
{
    height: 40%;
    width: 20%;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 48%;
    filter: blur(100px);
    box-shadow: 50px 50px 1rem  #ea9d96;
    transform: translate(-50%,-50%);
    
    
}
#container .img i
{
    font-size: 40rem;
    position: relative;
    color: #ea9d96;
    filter: drop-shadow(-8px 10px 8rem rgba(0,0,0,0.2))
            drop-shadow(-15px 10px 8px rgba(0,0,0,0.2))
            drop-shadow(15px 15px 8px rgba(0,0,0,0.2));
      

    
}

#container #overlay
{
    height: 120vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items:start;
    justify-content:space-between;
    flex-direction: column;
}
#container #overlay .navbar
{
    height: 10%;
    width: 100%;
display: flex;
align-items: center;
justify-content: space-between;    
}
#container #overlay .navbar .left
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
}
#container #overlay .navbar .left i
{
    font-size: 30px;
    color: ghostwhite;
}
#container #overlay .navbar .mid
{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#container #overlay .navbar .mid a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
}
#container #overlay .navbar .right
{    
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#container #overlay .navbar .right i
{
    font-size: 20px;
    color: white;
}
#container #overlay .content
{
    height: 25%;
    width: 30%;
    display: flex;
    align-items:start;
    justify-content:space-between;
    flex-direction: column;
    margin-left: 30px;
}
#container #overlay .content .heading
{
    height: 40%;
    width: 70%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#cfcaca3b;
    box-shadow: 0 1px 4px grey;
    border-top: 1px solid whitesmoke;
}
#container #overlay .content .heading h1
{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}
#container #overlay .content .pera
{
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container #overlay .content .pera p
{
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    text-align: start;
}
#container #overlay .space
{
    height: 30%;
    width: 25%;
    margin-left: 30px;
}
#container #overlay .fottercontent
{
    height: 25%;
    width: 30%;
    background:transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 30px;
}
#container #overlay .fottercontent h4
{
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    
}
#container #overlay .fottercontent .box
{
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color:#ffe4c452;
    box-shadow: 0px 1px 5px #dadada;
    /* filter: blur(.9px); */
    position: relative;
    margin-top: 5px;
}
#container #overlay .fottercontent .box .boxs
{
    height: 90%;
    width: 99%;
    border-radius: 12px;
    background: #ea9d96;
    display: flex;
    position: absolute;
    box-shadow: 0px -2px 5px #8080807e  ;
}
#container #overlay .fottercontent .box .boxs .left, #left
{
    height: 100%;
    width: 70%;
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}
#container #overlay .fottercontent .box .boxs #left h2
{
    
    font-size: 16px;
    color: white;
    font-family: sans-serif;
}
.fottercontent .box .boxs .left h2
{
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    
}
.fottercontent .box .boxs .left p
{
    font-size: 10px;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
}
#container #overlay .fottercontent .box .boxs .right
{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fottercontent .box .boxs .right h4
{
    font-size: 12px;
    text-transform: capitalize;
}